<!-- How does it extend different folders? -->
{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
    <p>Invalid credentials</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="mt-2">
            <tr>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </p>
{% endblock %}