* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Nunito";   
}

body{
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(120deg, rgb(34, 185, 34), rgb(32, 80, 212));    
}

/* We aren't display using flex and justify center
because we want only one visible at a time */
.field-name,
.field-email,
.field-password,
.field-finish{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
    width: 50vw;
    border: none;
}

.field-name input,
.field-email input,
.field-password input
{
    flex: 1;
    border: none;
    box-shadow: none;
    height: 100%;
}

.field-name i,
.field-email i,
.field-password i,
.field-finish i{
    padding: 0.5rem
}

.inactive{
    opacity: 0;
    pointer-events: none;
    /* We can't use translateY, because we've already
    used translate once to center it. If we use translateY
    it will translate along the original position (set using x,y)
    this would lead to a diag. movement */
    transform: translate(-50%, 50%);
}

/* It might seem like active is applying two transforms
however transform always applied relative to org position,
hence 2 same translations has net effect 1 only. */
.active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}
  

.error-bg{
    background-image: linear-gradient(120deg, rgb(172, 5, 5), rgb(61, 2, 2));
}

.fa-arrow-down{
    cursor: pointer;
}