<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue</title>
    <style>
        .clicked {
            background-color: red;
        }
    </style>
</head>
<body style='font-family:Nunito'>
    <div id="root">
        <ul>
            <li v-for='name in names'>{{name}}</li>
        </ul>
        <input type="text" v-model='newName'>
        <button @click='addName' :class="{'clicked' : isClicked}" type="button">Add</button>
    </div>
    <script>
        let app = new Vue({
            el: '#root',

            data: {
                newName: '',
                names: ['Kartik', 'Puneeth', 'Barua', 'Saketh'],
                isClicked: false
            },
            
            // All methods should go here.
            methods: {
                addName() {
                    console.log('addname');
//                  this.names.push(this.newName);
//                  this.newName = '';
                    app.isClicked = true;
                }
            } 
        });

    </script>
</body>
</html>

